@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    background: #111;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    margin: 0;
}

.lists {
    margin-top: -150px;
}

footer {
    margin: 50px 0px;
    text-align: center;
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 760px) {
    .lists {
        margin-top: -60px;
    }
}

@media (max-height: 450px) and (min-width: 450px) {
    .lists {
        margin-top: 0px;
    }
}